<style>
#app_call_summary{border:solid 1px #333333; width:500px; background-color:#FFFFFF;}
#app_call_summary div{padding:0px 10px 10px 10px;}
#app_call_summary .action{text-align:center; margin:0; padding:0;}
#app_call_summary h6{margin:0 0 10px 0; padding:0; font-size:13px;; font-weight:bold; background-color:#003; color:#FFF; padding:10px;}
</style>
<form id="app_call_summary">
<h6>Summary</h6>
<div>
    <b>Question</b><br>
    <p id="question"></p><hr/>
    <b>notes</b><br>
    <p id="notes"></p>
    <p class="action">
    <button type='button' class='btn btn-default' id='btnCancel'><span>Close</span></button>
    </p>
</div>
</form>