html,body {
  margin:0;padding:0;
  background-color:#FFFFFF;
}
body{
    background-image:url(../images/bg-strip.jpg);
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position:0 -350px;
    background-color:#f0f0f0;
    padding:20px 20px 20px 20px;
}
#container{
    background-color:#FFFFFF;
    width:1200px;
    margin:0 auto;
    border:solid 1px #C1C1C1;
    padding:3px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
-webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,1);
-moz-box-shadow: 1px 2px 5px -1px rgba(0,0,0,1);
box-shadow: 1px 2px 5px -1px rgba(0,0,0,1);
}

.navbar-inverse{
    background-color:#0179D2;
}
.navbar-inverse .nav li a,.navbar-inverse a.navbar-brand{
    color:#fff;
}
.footer{
    text-align:center;
    /*background-color:#000;
    color:#fff;*/
    font-size:13px;
    padding:0px 0 12px 0;
}